* {
  font-size: 1.2em;
  font-family: 'Times New Roman', Times, serif;
  margin: 0;
  box-sizing: border-box;

}

.grid{
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;

}
.grid > div{
  text-align: center;
  padding: 10px;
  border: 1px solid black;

}
.container {
  display: flex;
}

@media only screen and (max-width: 1024px) {

}

@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 375px) {

}

#donut {
    background-color: #f0f0f0;
    background-image:url(images/donut.gif);
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size:auto;
    padding: 5px;
  
    background-attachment: fixed;
}
