/*
Self Feedback:
A lot classes were overcomplicated
I honestly should have used child element combinators more 
Should have started with mobile layout, then worked my way up instead of the desktop layout
*/

* {
  font-size: 1.1em; /*Increases font size relative to font family */
  font-family: 'Times New Roman', Times, serif;
  margin: 0;
}

.grid{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(600px, 1fr)); 
  /*pattern repetition, automatically collapse empty columns if there is not enough items
  useful for responsive layout*/
  padding: 10px;
  gap: 20px;

}
.projectsgrid{
  display: grid;
  grid-template-columns: 1000px 600px;
  padding: 10px;
  gap: 20px;
  align-items: start;

}
.cvgrid{
  display: grid;
  grid-template-columns:auto auto auto;
  padding: 10px;
  gap: 20px;

}

.cell {
  align-self: center;
  background-color: rgb(119, 192, 255)
}

.format{
font-family:'Courier New', Courier;
font-weight: bold;
word-spacing:normal;
text-indent: 10px; /*Undoes the work of the p selector, since we don't want that 20px indent in the cv headings */

}
h1{
  font-family:'Courier New', Courier, monospace;
  font-weight: bold;
  text-align: center;
  font-size: 50px;
  background-color: blanchedalmond;

}
.grid > div{
  text-align: center;
  border: 1px solid black;
  background-color: aliceblue;
  opacity: 95%;

}
.projectsgrid > div{
  text-align: center;
  border: 1px solid black;
  border-radius: 10%;
}
a{ /*Decreases the font size of links*/
font-size: 1em;
}

p{
  text-align: start;
  text-indent: 40px;
  padding: 10px;

}
aside{
  display: flex;
  flex-direction: column;
  align-content: flex-end;
}
.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.container-item{
  flex-grow: 1;
  border: 1px solid black;  
}

.sidebar{
    flex-grow: 1;
    width: auto;;
  border: 1px solid black;  
  background-color: aliceblue;
  border-radius: 5%;


}
.container-itemcv1{
  flex-grow: 1;
  align-self: flex-start;
  border: 1px solid black;
  max-width: 1000px;  
  max-height: 150px;
  padding: 10px;
  background-color: aliceblue;
}
.container-itemcv2{
  flex-grow: 2;
  border: 1px solid black;  
  max-width: 1500px;
  background-color: aliceblue;

}
.responsibility{
  font-family:'Times New Roman', Times, serif;
  text-decoration: underline;
  text-align: center;
}
li{
font-family:monospace;
}
span{
background-color: aliceblue;
border: 1px solid black;


}

.heading{
  text-align: center;
  padding-top: 10px;

}
.profile{

  max-width: 60%;
  border-radius: 10%; /*for nice clean image edges*/
  height: auto;
  padding: 15px;

}
footer{
padding: 0px;
text-align: center;
}
.picture{
    max-height: 100%;
  max-width: 100%;
  border-radius: 10%; 
  object-fit: contain;
  
}
.projectpicture{
  max-width: 90%;
  max-height: 100%;
  border-radius: 20%; 
  padding: 15px;
  object-fit: contain; 
  
}

nav{
  font-size: 1.8em;
  background-color: gray;
  padding: 10px;
  text-align: center;

}
#lights { /*index.html background*/
  background-image:url(images/lights.gif);
  background-color: #f0f0f0;
  background-position: bottom right;
  background-repeat: repeat-y;
  background-size:contain;
  padding: 10px;
}
#background { /*projects.html background*/
  background-image:url(images/signalis_logo.gif);
  background-color: #f0f0f0;
  background-repeat: repeat-y;
  background-size:contain;
}
@media(max-width: 1024px) {
* {
  font-size: 1.01em; /*Increases font size relative to parent element, useful for responsive designs*/
  font-family: 'Times New Roman', Times, serif;
  margin: 0;
}
 .grid{
  grid-template-columns:auto;
  grid-template-rows: auto;
}
.projectsgrid{
  grid-template-columns: auto;
}
.projectpicture{
  max-width: 100%;
  padding: 0px;
}

}

@media(max-width: 768px) {
  * {
  font-size: 1.01em; /*Increases font size relative to parent element, useful for responsive designs*/
  font-family: 'Times New Roman', Times, serif;
  margin: 0;
}
 .grid{
  display: grid;
  grid-template-columns:auto;
  grid-template-rows: auto;
  padding: 10px;
  gap: 20px;
}

}

@media(max-width: 375px) {
  * {
  font-size: 1.01em; /*Increases font size relative to parent element, useful for responsive designs*/
  font-family: 'Times New Roman', Times, serif;
  margin: 0;
}
 .grid{
  display: grid;
  grid-template-columns:auto;
  grid-template-rows: auto;
  padding: 10px;
  gap: 20px;
}

.sidebar{
  width: 150px;
  height: 100px;
}

ul{
  text-align: start;
}


}
