* {
  font-size: 1.2em;
  font-family: 'Times New Roman', Times, serif;
}

.container {
  display: flex;
}
.container > header{
  display:flex;
}

body {
    background-color: #f0f0f0;
}

#donut{
text-align: center;
background-repeat: repeat-y;
}